#frame {
	-webkit-app-region: drag;
	position: fixed;
    z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	width: 100%;
	background: rgb(34, 34, 34);
	justify-content: space-between;
	align-content: center;
	align-items: center;
	color: #e6e6e6;
	padding: 0 8px;

	h4 {
		margin: 0;
	}

	ul {
		-webkit-app-region: no-drag;
		margin: 0;
		li {
			display: inline-block;
			margin: 0 8px;
			padding: 8px;
			transition: background-color 0.3s ease-in-out;

			&:hover {
				cursor: pointer;
				background: white;
				color: black;
			}
		}
	}
}
