@import '../../Stylesheets/variables';

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	padding: 16px;
	padding-top: 40px;
	background: $secondary;
	color: #ffffff;
	height: 100vh;

	.content {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	h1 {
		display: inline-block;
		font-size: 2em;
	}
}
